body {
    font-family: sans-serif;
}

#map {
    height: 600px;
    width: 100%;
    border: 1px solid #ccc;
}

#button1 {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
